{% include 'site/header.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <br>

            {% if mensaje %}
            <div class="alert alert-danger" role="alert">
                <strong>{{mensaje}}</strong>
            </div>
            {% endif %}

            <div class="card border-primary mb-3">
                
                <div class="card-header">
                    Registrar Administrador
                </div>
                <div class="card-body">

                    <form action="/admin/register/save" method="post" enctype="multipart/form-data">

                        <div class="mb-3">
                          <label for="txtNombre" class="form-label">Nombre de Usuario</label>
                          <input type="text" required class="form-control" name="txtNombre" id="txtNombre" placeholder="Ingrese nombre de usuario">
                        </div>

                        <div class="mb-3">
                            <label for="txtEmail" class="form-label">Correo Electronico</label>
                            <input type="email" pattern="[a-z0-9._%+-]+@unap\.cl$" required describedby="emailHelp" class="form-control" name="txtEmail" id="txtEmail" placeholder="Ingresa correo institucional">
                            <!--small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small-->
                        </div>

                        <div class="mb-3">
                            <label for="txtPassword" class="form-label">Contraseña</label>
                            <input type="password" required class="form-control" name="txtPassword" id="txtPassword" placeholder="Ingrese contraseña">
                        </div>

                        <button type="submit" class="btn btn-secondary">Registrarse</button>

                    </form>

                </div>
                <div class="card-footer text-muted">
                    
                </div>
            </div>

        </div>
        <div class="col-md-4">
        </div>
        
    </div>
</div>

{% include 'site/foot.html' %}