{% include 'site/header.html' %}

<div class="container">

    <div class="row">

        {% for tesis in tesis %}

        <div class="col-md-4">

            <div class="card border-lg">
                <div class="card-body">
                    <img width="300" class="img-fluid rounded-top" src="images/Egresados/{{ tesis[11] }}" alt="Imagen Autor">
                    <h4 class="card-title">Autor/es:</h4>
                    <h6>{{tesis[3]}}</h6>
                    <br>
                    <img width="300" class="img-fluid rounded-top" src="images/Docentes/{{ tesis[12] }}" alt="Imagen profesor guia">
                    <h4 class="card-title">Profesor Guía:</h4>
                    <h6>{{tesis[4]}}</h6>
                    
                </div>
            </div>

        </div>

        <div class="col-md-8">

            <div class="card border-lg">
                <div class="card-body">
                    <H5>Titulo de la Tesis:</H5><h2 style="font-family: fantasy">- {{tesis[2]}}</h2>
                    <h4 class="card-title"><b>Año de publicación:</b> {{tesis[5]}}</h4>
                    <h4 class="card-title"> <b>Titulo Obtenido:</b> {{tesis[7]}}</h4>
                    <h4 class="card-title"> <b>Carrera Cursada:</b> {{tesis[9]}}</h4>
                    <h4 class="card-title"> <b>Correo electrónico:</b> {{tesis[10]}}</h4>
                    <h4 class="card-title"> <b>Número de contacto:</b> +593 {{tesis[11]}}</h4>
                    <a name="" id="" class="btn btn-danger" href="/files/{{ tesis[6] }}" role="button">Visualizar</a>
                    
                </div>
            </div>
        
        {% endfor %}

    </div> 

</div>
<br>
{% include 'site/foot.html' %}