{% include 'site/header.html' %}

<div class="container">

    <div class="row">

        {% for tesis in tesis %}

        <div class="col-md-4">

            <div class="card border-primary">
                <div class="card-body">
                    <img width="300" class="img-fluid rounded-top" src="images/Egresados/{{ tesis[12] }}" alt="Imagen Autor">
                    <h4 class="card-title">Autores: {{tesis[3]}}</h4>
                    <br>
                    <img width="300" class="img-fluid rounded-top" src="images/Docentes/{{ tesis[13] }}" alt="Imagen profesor guia">
                    <h4 class="card-title">Profesor Guía: {{tesis[4]}}</h4>
                    
                </div>
            </div>

        </div>

        <div class="col-md-8">

            <div class="card border-primary">
                <div class="card-body">
                    <h2 class="card-title">Título: {{tesis[2]}}</h2> 
                    <h4 class="card-title"> Año de publicación: {{tesis[5]}}</h4>
                    <h4 class="card-title"> Titulo optado: {{tesis[7]}}</h4>
                    <h4 class="card-title"> Facultad: {{tesis[8]}}</h4>
                    <h4 class="card-title"> Area: {{tesis[9]}}</h4>
                    <h4 class="card-title"> Correo electronico: {{tesis[10]}}</h4>
                    <h4 class="card-title"> Numero de contacto: {{tesis[11]}}</h4>
                    <a name="" id="" class="btn btn-primary" href="/files/{{ tesis[6] }}" role="button">Visualizar</a>
                    
                </div>
            </div>
        
        {% endfor %}

    </div> 

</div>
<br>
{% include 'site/foot.html' %}