<!doctype html>
<html lang="en">
  <head>

    <title>Tesis UNAP</title>
    <!-- CRequired meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body
    style=
    "background-image: url('/images/Web/ArturoPrat.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;">
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

            <div class="header">
                <img src="images/Web/fiaUnap.png" 
                 alt="Logo" width=140px height=60px text-align=right;>
            </div>
            <div class="nav navbar-nav"> 
                <a class="nav-item nav-link" href="https://www.unap.cl/prontus_unap/site/edic/base/port/inicio.html">UNAP</a>
                <a class="nav-item nav-link" href="https://www.icci-unap.cl/">ICCI UNAP</a>
                <a class="nav-item nav-link" href="https://campus.unap.cl/campus_online/">CAMPUS UNAP</a>
                <a class="nav-item nav-link" href="/">PAGINA PRINCIPAL</a>
                <a class="nav-item nav-link" href="/tesis">TESIS</a>
                <!--<a class="nav-item nav-link" href="/admin/register">REGISTRARSE</a> -->
                <a class="nav-item nav-link" href="/admin/login">LOGIN</a> 
            </div>
        </nav>
   </header>
    <div class="container">
        <br>