{% include 'site/header.html' %}

<form method="get" action="/search">
    <div class="d-flex align-items-center jumbotron">
            <select type="txt" required class="form-control" name="categoria" id="categoria">
              <option value="Gestión del Talento Humano">Gestión del Talento Humano</option>
              <option value="Marketing Digital y Redes Sociales">Marketing Digital y Redes Sociales</option>
              <option value="Mecatrónica Automotriz">Mecatrónica Automotriz</option>
              <option value="Automatización e Instrumentación">Automatización e Instrumentación</option>
              <option value="Gestión Logística y Procesos Aduaneros">Gestión Logística y Procesos Aduaneros</option>
              <option value="Desarrollo de Software">Desarrollo de Software</option>
              <option value="Marketing">Marketing</option>
              <option value="Mecánica Automotriz">Mecánica Automotriz</option>
              <option value="Enfermería">Enfermería</option>
              <option value="Tributación">Tributación</option>
              <option value="Comercio Exterior">Comercio Exterior</option>
              <option value="Gastronomía">Gastronomía</option>
              <option value="Administración">Administración</option>
              <option value="Electromecánica">Electromecánica</option>
              <option value="Turismo">Turismo</option>
              <option value="Dietética">Dietética</option>
              <option value="Hotelería">Hotelería</option>
            </select>
        <button type="submit" class="btn btn-success ml-2">Search</button>
    </div>
</form>

    <div class="container">

        <div class="row">
            
            {% if results %}

            {% for result in results %}
            <div class="col-md-4">
                <br>
                <div class="card border-dark">

                    <img class="card-img-top" src="images/Web/logo_unap.png" width=40px alt="">
                    <div class="card-body">
                        <h2 class="card-title">{{result[2]}}</h2>

                        <a name="" id="" class="btn btn-danger" href="/files/{{ result[6] }}" role="button">Visualizar</a>

                        <form action="/details" method="post">
                            <input value="{{ result[0] }}" type="hidden" name="txtID" id="txtID">
                            <button type="submit" class="btn btn-dark">Detalles</button>
                        </form>
                        
                    </div>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <div class="alert alert-danger" role="alert">
                <strong>{{mensaje}}</strong>
            </div>
            {% endif %}
        </div> 

    </div>
<br>
{% include 'site/foot.html' %}